<a href="https://colab.research.google.com/github/Tolumoke/Tolumoke.github.io/blob/main/Practice_Set_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python program to print the following sentence: "Python programming is fun!"

In [1]:
print("Python programming is fun")

Python programming is fun

Create a variable name and assign it your name as a string. Print "Hello, my name is name!"

In [53]:
name = "Tolumoke"
print(f"Hello, my name is {name}!")

Hello, my name is Tolumoke!

Write a Python program to calculate the sum of 123 and 456 and print the result.

In [45]:
result = 123 + 456
print(result)

579

Create two variables a and b with values 20 and 10 respectively. Print the result of their multiplication.

In [5]:
a = 20
b = 10
product = a * b
print(product)

200

Create a variable age and assign it your age. Print a sentence stating your age using an f-string.

In [6]:
age = 21
print(f"I'm {age} years old")

I'm 21 years old

Create a variable salary and assign it a value. Calculate a 10% bonus of the salary and print the final amount after adding the bonus to the original salary.

In [7]:
salary = 25000
bonus = 0.1 * salary
gross_salary = salary + bonus
print(gross_salary)

27500.0

Create a list of your five favorite fruits. Write a for loop to print each fruit in the list

In [8]:
favorite_fruits = ['apple', 'orange', 'mango', 'banana', 'guava']
for fruit in favorite_fruits:
  print(fruit)

apple
orange
mango
banana
guava

Create a list of five numbers. Write a Python program to calculate and print the sum of these numbers using a for loop.

In [11]:
numbers = [12, 2, 9, 3, 6]
list_sum = 0
for number in numbers:
  list_sum = list_sum + number
 # or say: list_sum += number
print(list_sum)

32

Write a Python program that checks if a number stored in the variable num is positive, negative, or zero and prints an appropriate message.

In [16]:
num = 0
if num > 0:
  print("This is a positive number")
elif num < 0:
  print("This is a negative number")
else:
  print("This is zero")

This is zero

Write a Python program that takes a variable grade and prints "Pass" if the grade is 50 or higher and "Fail" otherwise.

In [20]:
grade = 88
if grade >= 50:
  print("Pass")
else:
  print("Fail")

Pass

Create a dictionary named student with keys name, age, and grade. Assign appropriate values to these keys. Print the dictionary.

In [42]:
student = {"name": "Tolumoke", "age": 21, "grade": "A"}
print(student)

{'name': 'Tolumoke', 'age': 21, 'grade': 'A'}

Update the grade value in the student dictionary and print the updated dictionary.

In [26]:
student["Grade"] = "C"
print(student)

{'Name': 'Wale', 'Age': 72, 'Grade': 'C'}

Create a tuple named dimensions with three elements representing the length, width, and height of a box. Print the second element of the tuple.

In [27]:
dimensions = (3, 1, 9)
print(dimensions[1])

1

Create a set named colors with elements "red", "green", and "blue". Add the color "yellow" to the set and print the updated set.

In [33]:
colors = {"red", "green", "blue"}
colors.add("yellow")
print(colors)

{'red', 'yellow', 'green', 'blue'}

Write a function named greet that takes a name as an argument and prints "Hello, name!". Call this function with your name.

In [40]:
def greet(name):
  print(f"Hello,{name}")

greet("Tolumoke")

Hello,Tolumoke

Write a function named calculate_area that takes the radius of a circle as an argument and returns the area of the circle. Use this function to calculate and print the area of a circle with a radius of 5.

In [39]:
def calculate_area(radius):
  area = 3.14 * radius ** 2
  return area

calculate_area(5)

78.5